.wrapper{
}


.descriptionBlock {
}

.status{
    background-color: #e8e08f;
    box-shadow: 0 0 40px #938d34 inset;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

.statusA {
    padding: 5px;
    border-radius: 5px;
}